:root{  
    --spacing: 10px;
    --blur: 0px;
    --backgroundColor: #ffffff;
}

body{
    background-color: darkblue;
    position: absolute;
    text-align: center;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#topPart{
    bottom: 50%;
    height: 40%;
}

#bottomPart{
    height: 60%;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--backgroundColor);
}

h1{
    font-size: 3.7em;
}

#colorHeader{
    color: var(--backgroundColor);
}

#controlPanel{
    font-size: 2.5em;
}

#myImage{
    width: 98%;
    height: 98%;
    padding: var(--spacing);
    filter: blur(var(--blur));  
}

