html{
    background-image: url("images/backgroundIMG.jpg");
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

#allButtonsDiv{
    width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 0.3em;
  margin-top: 25%;
  white-space: nowrap;
  overflow: hidden;
}

.container {
    width: 100px;
    height: 70px;
    border: solid 1px black;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.5%;
    background-color: rgb(105,105,105,0.5);
  }

.mainLetterText{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 23px;
}

.soundName{
    font-size: 16px;
    color: yellow;
}