body{
   background: blue;
}

#all_clock{
    border-radius: 50%;
    background: url(images/clock2.png) no-repeat center;
    height: 20em;
    margin-top: 5%;
    padding-bottom: 19%;
    margin-left: 25%;
    position: relative;
    width: 40em;
}

#hour-div, #minutes-div, #seconds-div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #hour-main {
    background: #000;
    height: 12%;
    left: 49.3%;
    position: absolute;
    top:38%;
    transform-origin: 50% 100%;
    width: 1.3%;
  }

  #minutes-main{
    background: #000;
    height: 15%;
    left: 49.3%;
    position: absolute;
    top: 35%;
    transform-origin: 50% 100%;
    transform: rotate(90deg);
    width: 1%;
  }

  #seconds-main{
      background: #d00;
      height: 17%;
      left: 49.7%;
      position: absolute;
      top: 33%;
      transform-origin: 50% 100%;
      transform: rotate(190deg);
      width: 0.5%;
  }

  @keyframes rotate{ 100% 
    { 
        transform: rotateZ(360deg); 
    } 
  }

  #hour-div{
      animation: rotate 43200s infinite linear;
  }

  #minutes-div{
    animation: rotate 3600s infinite steps(60);
  }

  #seconds-div{
    animation: rotate 60s infinite steps(60);
  }

