html{
    background-image: url("images/background_photo.jpg");
    background-size: cover;
}

#mainWindow{
    border-radius: 2vw;
    width: 35vw;
    height: 45vw;
    background-color: maroon;
    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
}

#title{
    text-align: center;
    letter-spacing: 0.5vw;
    margin-bottom: 1.5vw;
    font-size: 2vw;
}

#formWrapper{
    text-align: center;
    font-size: 2vw;
}

.input{
   margin: 1vw;
   height: 2vw;
   width: 60%;
   font-size: 2vw;
   overflow:scroll;
}

#countryList{
    width: 60%;
    margin: 1vw;
    height: 3vw;
    font-size: 2vw;
}

#submitButton{
  background-color: rgb(34, 15, 207); 
  border: none;
  color: wheat;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  border-radius: 1.6vw;
  transition-duration: 0.4s;
  cursor: pointer;
}

#submitButton:hover{
    background-color: rgb(241, 9, 9); 
}

#tipHelper{
    font-size: 1.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

#moneyPerPerson{
    font-size: 1.8vw;
    font-weight: bold;
}